h2 {
    margin: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    text-align: center;
    
}

body {
    background : url(../../../public/img/netflix-background.png)
}

button {
color: white;
background-color: red;
height: 30px;
width: 30%;

}

input {
color: white;
background-color: gray;
height: 30px;
width: 30%;

}


