h1 {
    margin-left: 20px;
    color: white;
    display: flex;
}

body {
    background : url(../../../public/img/netflix-background.png)
}

button {
color: white;
background-color: red;
height: 50px;
width: 50%;

}

input {
color: white;
background-color: gray;
height: 40px;
width: 40%;

}

